<table class="container table table-striped table-bordered table-hover" >
    <thead class="thead-light">
      <tr >
        <th scope="col">UserId</th>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody *ngFor="let info of Filterarray" >
        <tr class='hover' (click)="onItemClick(info)">
            <!-- <div > -->
                <td  >{{ info.userId }}</td>
                <td> {{ info.id }}</td>
                <td> {{ info.title }}</td>

            <!-- </div> -->
        </tr>
    </tbody>
</table>
<button routerLink='/userinfo' >Click</button>
<app-form></app-form>

<!-- <button (click)="onButtonClick()" routerLink='/userinfo' >Click</button> -->
    
    <!-- <button routerLink='/userinfo' >Click</button> -->
    <!-- <router-outlet></router-outlet> -->
    
    <!-- <app-user-info [userData]="userData"  ></app-user-info> -->
