{{userData}}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">UserId</th>
        <th scope="col">Id</th>
      </tr>
    </thead>
    <tbody *ngFor="let info of infoList">
        <tr *ngIf= "info.userId == 2 " routerLink='/userinfo'  (click)="onItemClick(info)">
            <!-- <div > -->
                <td  >
                    <a>{{ info.userId }}</a>
                </td>
                <td> {{ info.id }}</td>
                <td> {{ info.title }}</td>

            <!-- </div> -->
        </tr>
    </tbody>
</table>
<button routerLink='/userinfo' >Click</button>

<!-- <button (click)="onButtonClick()" routerLink='/userinfo' >Click</button> -->
    
    <!-- <button routerLink='/userinfo' >Click</button> -->
    <!-- <router-outlet></router-outlet> -->
    
    <!-- <app-user-info [userData]="userData"  ></app-user-info> -->
