

<!-- <p>B: {{userData1}} </p> -->
<div class="container" style="justify-content: center;align-items: center;">
    <div class="row">
        <div class="col-sm-8 col-lg-12 card-margin shadow" >
            <div class="card-body">
                <form>
                    <div>
                        <input  type="text" 
                                class="form-control" 
                                placeholder="UserId" 
                                id="userId"
                                name="userId" 
                                 #userId
                                required>
                        
                        <input  type="text" 
                                class="form-control" 
                                placeholder="Id" 
                                id="id"
                                name="id" 
                                #id
                                required>                        
                        
                        <input  type="text" 
                                class="form-control" 
                                placeholder="title" 
                                id="title"
                                name="title" 
                                #title
                                required>                        
                        
                        <input  type="text" 
                                class="form-control" 
                                placeholder="body" 
                                id="body"
                                name="body" 
                                #body
                                required>
                        
                        <button class="btn btn-primary" 
                                type="button"
                                (click)="onSubmit(userId.value,id.value,title.value,body.value)">
                                Submit
                        </button>
                    </div>
                </form>
            </div>
       
       
            </div>
          </div>
        <!-- </div> -->
      </div>
     <app-homepage></app-homepage>

     