<!-- <p>B: {{userData1}} </p> -->
<div class="container  " style="justify-content: center;">
    <div class="row">
        <div class="col-sm-8 col-lg-8 card-margin shadow" >
        <!-- <div class="col-sm-12 col-lg-12 card-margin" *ngFor="let info of userList"> -->

            <!-- <div *ngIf= "info.userId == dataUserId && info.id == dataId "> -->
            <div class="card  card-bg" >
                <div class="card-header">
                        <div class="container text-below-textarea">
                            <h1 class="card-text text-left" style="display:inline-block;text-align:left;">
                                UserId:
                                <!-- {{userData.userId}} -->
                                 <!--{{info.userId}}                     -->
                                     {{data.userId}}
                            </h1>
                            <!-- <span class="card-text text-right" style="display:inline-block;text-align:right;">
                                <small class="text-muted">ID: {{info.id}}</small>
                            </span> -->
                        </div>  
                </div>
                <h2 class="card-title" style="padding: 2%;"><b>Title: </b>
                    <!-- {{userData.title}} -->
                    <!-- {{info.title}} -->
                    {{data.title}}
                </h2>
                <h3 class="card-text" style="padding: 9%;"><b>Body:</b> 
                    <!-- {{userData.body}} -->
                    <!-- {{info.body}} -->
                        {{data.body}}
                </h3>


                <h3 class="card-footer text-right" >
                    <small class="">ID: 
                        <!-- {{userData.id}} -->
                        <!-- {{info.id}} -->
                                {{data.id}}
                    </small>
                </h3>        

              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>
     